<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <center>
    <div class="dashboard-container">
      <h1>Welcome, <%= user.firstName %> <%= user.lastName %>!</h1>

      <div class="user-info">
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>User ID:</strong> <%= user.userId %></p>
        <p><strong>Role:</strong> <%= user.role %></p>
        <p><strong>Status:</strong> <%= user.accountStatus || "Inactive"%></p>
        <p>
          <strong>Email Verified:</strong> <%= user.isEmailVerified ? "Yes" :
          "No" %>
        </p>
      </div>

      <ul class="dashboard-links">
        <% if (user.role === 'admin') { %>
            <a href="/users/admin">Admin Dashboard</a>
        <% } %>
      </ul>

      <a href="/users/logout" class="logout-link">Logout</a>
    </div>
    </center>
  </body>
</html>
